
<style>
  .post-container {
    /* 中央揃え */
    margin: 0 auto;
    /* 必要に応じて幅を指定 */
    max-width: 800px;
  }
</style>


<div class="post-container">
  <div class="post-content">
    <div class="form-container">
      <h1>投稿を編集する</h1>
        
      <%= form_with(model: @post, url: post_path(@post), method: :patch) do |form| %>
        <!-- タイトルの編集 -->
        <div class="field">
          <%= form.label :title, "タイトル" %>
          <%= form.text_field :title, class: "form-control" %>
        </div>

        <!-- 投稿文の編集 -->
        <div class="field">
          <%= form.label :content, "投稿文" %>
          <%= form.text_area :content, rows: 10, class: "form-control" %>
        </div>

        <!-- 更新ボタン -->
        <div class="actions">
          <%= form.submit "更新", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

