<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>投稿一覧</title>
  <style>
    .post-container {
      text-align: center;
    }
    .post {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 20px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      max-width: 600px;
    }
    .like-count {
      margin-left: 10px;
      color: #777;
    }
    .like-button {
      display: inline-block;
      padding: 5px 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .post p {
      word-break: break-all;
      max-width: 24em;
      margin: 0 auto;
      text-align: left;
    }
    
    @media only screen and (max-width: 600px) {
      .post {
        width: 90%;
        padding: 8px;
      }
    }
  .post img {
    max-width: 100%;
    height: auto; 
    display: block;
    margin: 0 auto; 
  }  
  
  
  </style>
</head>
<body>

<div class="post-container">
  <h1>投稿一覧</h1>

<!-- ユーザー検索フォーム -->
<form action="/users/search" method="GET">
  <input type="text" name="query" placeholder="ユーザーを検索">
  <button type="submit">検索</button>
</form>
<!-- ユーザー検索フォーム終わり -->

<% @posts.each do |post| %>
  <div class="post">
    <div class="post-header">
      <!-- 記事のタイトル -->
      <h2><%= link_to post.title, public_post_path(post) %></h2>
      <!-- 投稿者情報 -->
      <p>投稿者: <%= post.user.name %></p>
      <!-- 投稿日時 -->
      <p class="post-date">投稿日時: <%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
    </div>

    <% if post.image.attached? %>
     <!-- 画像が添付されている場合の表示 -->
     <%= link_to image_tag(post.image), post.image, target: "_blank" %>
    <% end %>

    <!-- 投稿内容 -->
    <p><%= post.content %></p>
  <% if current_user %>
    <!-- いいねボタン -->
    <%= render 'likes/like_button', post: post %>
    <!-- フォローボタン -->
    <%= render 'follows/follow', post: post %>
  <% end %>
    <!-- コメントボタン -->
    <%= render 'posts/comment', post: post %>
    
  </div>
  
<% end %>

<%= will_paginate @posts %>

  <script>
    document.querySelectorAll('.comment-toggler').forEach(function(button) {
      button.addEventListener('click', function(event) {
        event.preventDefault();
        var postId = event.target.dataset.postId;
        var commentsDiv = document.querySelector('#comments_' + postId);

        if (commentsDiv.style.display === 'none') {
          commentsDiv.style.display = 'block';
        } else {
          commentsDiv.style.display = 'none';
        }
      });
    });
  </script>
</div>

</body>
</html>
