<style>
  @media only screen and (max-width: 600px) {
    .plate {
      width: 100%; /* 幅を100%に設定 */
    }
    .home-box {
      padding: 0 10px; /* 左右のパディングを追加 */
    }
    .notification {
      margin: 10px 0; /* 通知の間のマージンを追加 */
    }
  }
</style>
<div style="text-align: center;">
  <h1>新しい投稿をする</h1>

  <%= form_with model: @post, url: public_posts_path, multipart: true do |form| %>
    <% if @post.errors.any? %>
      <div class="notification">
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

<p>
  <%= form.label :title, "タイトル" %><br>
  <%= form.text_field :title, maxlength: 24, size: 24, placeholder: "24文字以内で入力してください", style: "color: #777;" %>
</p>


    <p>
      <%= form.label :content, "投稿文" %><br>
      <%= form.text_area :content, rows: 5, cols: 30 %>
    </p>

    <p>
      <%= form.hidden_field :user_id, value: current_user.id %>
    </p>

    <p>
      <%= form.label :image, "ペットの写真" %><br>
      <%= form.file_field :image %>
    </p>

    <p>
      <%= form.submit "投稿する" %>
    </p>
  <% end %>
</div>
