<div class="plate mx-auto" id="cork">
  <span>Welcome!!</span>
  <% if alert %>
    <div class="alert alert-warning">
      <%= alert %>
    </div>
  <% end %>

  <% if notice %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
  <% end %>

  <div class="home-box mx-auto my-3">
    <p class="home-text">ようこそ、ながのCAKEへ！<br>
    このサイトは、ケーキ販売のECサイトになります。
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。
    </p>
  </div>
  
  <% if user_signed_in? && current_user.followers.any? %>
    <% if current_user.followers.any? { |follower| follower.posts.where(viewed: false).any? } %>
      <div class="container mt-4">
        <h2>フォロワーからの新しい投稿があります</h2>
        <ul>
          <% current_user.followers.each do |follower| %>
            <% follower.posts.order(created_at: :desc).limit(5).each do |post| %>
              <% unless post.viewed %>
                <li>
                  <%= "#{follower.name} からの新しい投稿: " %><%= link_to "#{post.title}", public_post_path(post) %>
                </li>
                <% post.update(viewed: true) %>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>


  <div class="all-items-show-button"><%= link_to "全ての投稿を見る", public_posts_path %></div>
</div>
