<style>
  @media only screen and (max-width: 600px) {

</style>

<h1><%= @post.title %></h1>
<p><strong>内容:</strong></p>
<div style="max-width: 300px; word-wrap: break-word;">
  <%= @post.content %>
</div>

<p><strong>投稿者:</strong> <%= link_to @post.user.name, admin_user_path(@post.user) %></p>

<p><strong>作成日時:</strong> <%= @post.created_at %></p>

<% if @post.image.attached? %>
  <%= image_tag @post.image.variant(resize: "300x300") %>
<% end %>

<h2>コメント</h2>
<% @post.comments.each do |comment| %>
  <div>
    <strong><%= comment.user.name %>:</strong>
    <span style="<%= 'background-color: #f2f2f2;' if comment.user == @post.user %>">
      <%= comment.posted_text %>
    </span>
    <% if comment.user == current_user %>
      <%= link_to '削除', public_comment_path(comment), method: :delete, data: { confirm: '本当に削除しますか？' } %>
    <% end %>
  </div>
<% end %>

<%= button_to 'この投稿を削除', admin_post_path(@post), method: :delete, data: { confirm: '本当にこの投稿を削除しますか？' }, class: 'btn btn-danger' %>

<%= button_to '戻る', admin_posts_path, method: :get, class: 'btn btn-secondary' %>
