<main class="container">
  
  
  <h5 class="p-5">新規会員登録</h5>
  

<%= form_for(@resource, as: @resource_name, url: user_registration_path(@resource_name)) do |f| %>
    <div class="row">
      <div class="col-md-3 mb-3">
        <p>ネーム</p>
      </div>

      <div class="col-md-3 mb-3">
        <%= f.label :name, "(セイ)" %>
        <%= f.text_field :name, class: "form-control", placeholder: "ニックネーム", required: true %>
      </div>


    <div class="row">
      <div class="col-md-3 mb-3">
        <p>メールアドレス</p>
      </div>

      <div class="col-md-6 mb-3">
        <%= f.email_field :email, class: "form-control", placeholder: "sample@example.com", required: true %>
      </div>
    </div>


    <div class="row">
      <div class="col-md-3 mb-3">
        <p>パスワード</p>
      </div>
      <div class="col-md-6 mb-3">
        <%= f.password_field :password, class: "form-control", required: true %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 mb-3">
        <p>パスワード（確認用）</p>
      </div>
      <div class="col-md-6 mb-3">
        <%= f.password_field :password_confirmation, class: "form-control", required: true %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 mb-3">
      </div>
      <div class="col-md-6 mb-3">
        <%= f.button "新規登録", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
  <h5 class="p-3">既に登録済みの方</h5>
  <a href="<%=  user_session_path %>">こちら</a>からログインしてください.
</main>
