<style>
  @media only screen and (max-width: 600px) {
    table {
      width: 100%;
      background-color: #f2f2f2;
    }
    table th, table td {
      display: block;
    }
    table thead {
      display: none;
    }
    table tbody tr {
      margin-bottom: 20px;
      border: 1px solid #ccc;
    }
    table tbody td {
      text-align: left;
      padding: 10px;
    }
    table tbody td:first-child {
      font-weight: bold;
    }
    table tbody td:last-child {
      font-size: 12px;
      color: #666;
    }
  }
</style>

<h1>ユーザー一覧</h1>



<%= form_tag admin_users_path, method: :get do %>
  <%= text_field_tag :search, params[:search], placeholder: 'ユーザーを検索...' %>
  <%= submit_tag '検索' %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">名前</th>
      <th scope="col">Email</th>
      <th scope="col">会員ステータス</th>
      <th scope="col">詳細</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td>
        <% if user.profile_image.attached? %>
          <%= image_tag user.profile_image.variant(resize_to_fill: [50, 50]), style: "border-radius: 50%; float: left; margin-right: 10px;" %>
        <% else %>
          <%= image_tag url_for(user.default_profile_image), style: "border-radius: 50%; width: 50px; height: 50px; float: left; margin-right: 10px;" %>
        <% end %>          
          <%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.is_active? ? '有効会員' : '退会済み' %></td>
        <td><%= link_to '詳細', admin_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @users %>
