<body style="padding:10px 0 0 10px;">

<h1>プロフィール画像を編集</h1>

<%= form_with(model: @user, url: { action: "update_image" }, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <!-- 他のプロフィール情報の入力フォームを追加 -->

  <div class="field">
    <%= form.label :プロフィール画像 %>
    <%= form.file_field :profile_image %>
  </div>

  <div class="actions">
    <%= form.submit "更新"%>
  </div>
<% end %>
