<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>プロフィール編集</title>
</head>
<body style="padding-left: 10px;">

<h1>プロフィール編集</h1>

<%= form_with(model: @user, url: public_user_path(@user), method: :patch) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ネーム %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :メールアドレス %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :メールアドレスを公開する %>
    <%= form.check_box :public_email %>
    <%= form.label :public_email, "公開する" %>
  </div>

  <div class="field">
    <%= form.label :パスワード（６文字以上） %>
    <%= form.password_field :password %>
  </div>

  <div class="actions" >
    <%= form.submit "Update" %>
  </div>
<% end %>

<%= link_to '戻る', public_user_path(@user) %>

</body>
</html>
