<!-- app/views/users/show.html.erb -->

<h1>マイページ</h1>
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.public_email ? @user.email : "非公開" %></p>

<td>フォロー数: <%= @user.followings.count %></td>
<td>フォロワー数: <%= @user.followers.count %></td>

<!-- 他のユーザー情報を表示 -->

<%= link_to "投稿一覧", public_users_path(@user) %>
<%= link_to "いいね一覧", public_post_likes_path(@user) %>
<%= link_to "フォロワー一覧", public_user_followers_path(@user) %>
<%= link_to "フォローしている人一覧", public_user_followings_path(@user) %>
<%= link_to "編集", edit_public_user_path(@user) %>
