<style>
  /* ボタンのデフォルトスタイル */
  .nav-link {
    transition: background-color 0.3s ease; /* ホバー時のアニメーション効果を追加 */
    font-family: 'Pop', sans-serif; /* ポップ体のフォントを適用 */
    font-size: 20px; /* 文字サイズを大きくする */
    line-height: 40px; /* ボタンの高さと同じになるように設定 */
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1); /* 立体的な影を追加 */
    border: none; /* ボーダーを削除 */
    padding: 10px 20px; /* パディングを設定 */
    border-radius: 5px; /* 角丸にする */
  }

  /* ボタンのホバー時のスタイル */
  .nav-link:hover {
    background-color: white; /* ホバー時の背景色を変更 */
  }

  /* ナビゲーションバーのブランド名のスタイル */
  .navbar-brand span {
    font-family: 'Indie Flower', cursive; /* ブランド名のフォントを設定 */
    font-size: 3.5rem; /* ブランド名のフォントサイズを設定 */
    font-weight: bold; /* ブランド名のフォントウェイトを太字に設定 */
    text-shadow: 2px 2px 5px white; /* 外枠の色を設定 */
  }
</style>



<!DOCTYPE html>
<html>
<head>
  <title>NaganoCake</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <script src="https://kit.fontawesome.com/853b12f8a1.js" crossorigin="anonymous"></script>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


</head>
<body class="d-flex flex-column vh-100">
  <header class="shadow-sm" style="background-image: url('/assets/new_year_s_card_18_without_text.jpg'); background-size: cover; background-position: center; height: 200px;">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <%= link_to "/", class: 'navbar-brand' do %>
          <span style="font-size: 3.5rem; font-weight: bold; font-family: 'Indie Flower', cursive;">PET DAY</span>
        <% end %>

        <!-- トグルボタン -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- メニュー -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto" style="margin-bottom: 100px; ">
            <% if user_signed_in? %>              
              <li class="nav-item">
                <%= link_to "マイページ", public_user_path(id: current_user.id), method: :get, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "投稿一覧", public_posts_path, method: :get, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "新規投稿", new_public_post_path, method: :get, class: 'nav-link text-dark' %>
              </li>            
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
              </li>
            <% elsif admin_signed_in? %>
              <li class="nav-item">
                <%= link_to "投稿一覧", admin_posts_path, method: :get, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "ユーザー一覧", admin_users_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "投稿一覧", public_posts_path, method: :get, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path, method: :get, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path, method: :get, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "管理者ログイン", new_admin_session_path, method: :get, class: 'nav-link text-dark' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
</body>
</html>
